<br>
<button class="button" title="Add" (click)="show = !show" >
    Add Product</button>

<div *ngIf="show"> 
  <h4>Product</h4>
<input #name> <br><br>
<input ([ng-model])="price"><br>
<button class="button" title="Add"  >
    Submit</button> 
</div>    
<div *ngIf="selectedProduct"> 
  <h2>Product Details</h2>
  <ul>
  <li>Product Name: {{selectedProduct.name}}</li>
  <li>Price: {{selectedProduct.price | currency}}</li>
  </ul>
</div>

<h2>
Product List</h2>
<table border>
  <tr></tr>
  <tr *ngFor="let product of products">
   <!-- -->

      <td>{{product.name}}</td> 
      <td>{{product.price | currency}}</td> 
    <td> <button class="add" title="Add"
    (click)="selectProduct(product)">Details</button></td> 
  </tr>
</table>