button {
  padding: 5px 10px;
  text-decoration: none;

  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
button:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
button active {
  color: #039be5;
}
